In [1]:
import os
from datetime import datetime
from uuid import uuid4

import numpy as np
import pandas as pd
from general_fun import (
    connect_database,
    connect_database_psql,
    date_diff_in_seconds,
    dhms_from_seconds,
)

T0 = datetime.now()

In [2]:
engine_psql, conn_psql = connect_database_psql()

In [ ]:
# Energy
dbname = "energy"

tb = {0: "energy", 1: "water"}

engine, conn = connect_database(dbname)

for key, value in tb.items():
    sql = f"""select * from {dbname}.{value}"""

    df = pd.read_sql(sql, conn)
    if "id" in df.columns:
        df["id"] = [uuid4() for _ in range(len(df.index))]
    else:
        df.insert(0, "id", [uuid4() for _ in range(len(df.index))])

    df.to_sql(value, conn_psql, index=False, if_exists="replace", index_label="id")

In [3]:
# Home
dbname = "home"

tb = {0: "cars", 1: "house", 2: "projects"}

engine, conn = connect_database(dbname)

for key, value in tb.items():
    sql = f"""select * from {dbname}.{value}"""

    df = pd.read_sql(sql, conn)
    if "id" in df.columns:
        df["id"] = [uuid4() for _ in range(len(df.index))]
    else:
        df.insert(0, "id", [uuid4() for _ in range(len(df.index))])

    df.to_sql(value, conn_psql, index=False, if_exists="replace", index_label="id")

In [ ]:
# Finance
dbname = "finance"

tb = {
    0: "LEGO_expenses",
    3: "days",
    8: "taxes",
    9: "vanoord_actual",
    10: "vanoord_contract",
    11: "vanoord_country",
}

engine, conn = connect_database(dbname)

for key, value in tb.items():
    sql = f"""select * from {dbname}.{value}"""

    df = pd.read_sql(sql, conn)
    if "id" in df.columns:
        df["id"] = [uuid4() for _ in range(len(df.index))]
    else:
        df.insert(0, "id", [uuid4() for _ in range(len(df.index))])

    df.to_sql(value, conn_psql, index=False, if_exists="replace", index_label="id")

In [ ]:
tb = {
    4: "finance",
    5: "historical",
}

cat = pd.read_sql(f"""select * from {dbname}.category""", conn)
cat["category"] = cat["id"]
cat["id"] = [uuid4() for _ in range(len(cat.index))]
cat.to_sql("category", conn_psql, index=False, if_exists="replace", index_label="id")

keys = cat["category"].values.tolist()
values = cat["id"].values.tolist()
category_mapping = {keys[jj]: values[jj] for jj in range(len(keys))}

for key, value in tb.items():
    sql = f"""select * from {dbname}.{value}"""

    df = pd.read_sql(sql, conn)
    if "id" in df.columns:
        df["id"] = [uuid4() for _ in range(len(df.index))]
    else:
        df.insert(0, "id", [uuid4() for _ in range(len(df.index))])

    df["category"] = df["category"].map(category_mapping)

    df.to_sql(value, conn_psql, index=False, if_exists="replace", index_label="id")

In [ ]:
dbname = "finance"
tb = {
    1: "bankacount",
    6: "mortgage",
    12: "woz",
}

engine, conn = connect_database(dbname)

for value in tb.values():
    sql = f"""select * from {dbname}.{value}"""

    df = pd.read_sql(sql, conn)

    df.insert(0, "id", [uuid4() for _ in range(len(df.index))])

    df["date"] = pd.to_datetime(df["date"], format="ISO8601")

    df.to_sql(value, conn_psql, index=False, if_exists="replace", index_label="id")

In [ ]:
print("%d days, %d hours, %d minutes, %d seconds" % dhms_from_seconds(date_diff_in_seconds(datetime.now(), T0)))